@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: #50644d;
  user-select: none;
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
}

input,
textarea,
select {
  font: inherit;
  margin-bottom: 1em;
  color: black;
  border-radius: 5px;
  background-color: rgb(184, 219, 219);
}

button {
  border-radius: 5px;
  background-color: rgb(99, 107, 107);
  box-shadow: 3px 3px 3px rgba(46, 38, 38, 50%);
  cursor: pointer;
}
button:hover {
  background-color: rgb(88, 96, 96);
  box-shadow: 3px 3px 3px rgba(46, 38, 38, 50%);
}
button:active {
  background-color: rgb(88, 91, 91);
  box-shadow: 2px 2px 2px rgba(46, 38, 38, 50%);
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 2px 2px 2px rgba(46, 38, 38, 50%);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postCredit {
  font-size: 1rem;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: white;
  color: #000;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: purple;
  color: whitesmoke;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;
}

nav a,
nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 1em;
}

article {
  margin: 0.5em;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 3px 3px 3px rgba(46, 38, 38, 50%);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 200px;
  border-radius: 5px;
  padding: 20px;
  border: solid rgb(158, 156, 156);
  font-size: 1.2rem;
}

.postCredit {
  font-size: 1rem;
}

.postCredit a,
.postCredit a:visited {
  margin-right: 0.5rem;
  color: black;
}

.postCredit a:hover,
.postCredit a:focus {
  color: hsla(0, 0%, 0%, 0.75);
}

.excerpt {
  font-style: italic;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: #000;
  font-size: 1rem;
  padding: 3px;
}

.deleteButton {
  background-color: palevioletred;
  color: white;
}

a {
  text-decoration: underline;
}

button {
  background-color: rgb(188, 174, 174);
  box-shadow: 3px 3px 3px rgba(46, 38, 38, 50%);
  border-radius: 5px;
}

.edit-section {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 3px 3px 3px rgba(46, 38, 38, 50%);
  background-color: rgb(224, 216, 206);
}

.btn-counter {
  padding: 2px 15px;
}
